.custom-nav{
  background-color: #2B3840;
}

.custom-top-row{
margin-top: 20px;
}

.custom-right-panel{
  margin-right: 30px;
}

.bg-gray{
  background-color: #f9f9f9;
}
.color-white{
  color: white;
}
.font-120{
  font-size: 120%;
}
